.post {
  padding: 8px;
  margin: 24px 0;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.5);
}

.post-title {
  font-weight: 400;
  margin: 8px 0 16px;
  font-size: 20px;
}

.post-img {
  width: 100%;
}
